{{#if logged_in}}
<h3 class="text-center add-space">Welcome, <span id="username">{{username}}</span>!</h3>
{{/if}}
<div class="row mb-4 post">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header back-color">
        <h4><a href="/post/{{post.id}}">{{post.title}}</a></h4>
        <p class="text-right">Posted by {{post.user.username}} on {{format_date post.date_created}}</p>
      </div>
      <div class="card-body">
        <p class="card-text">{{post.content}}</p>
      </div>
      {{#if post.comments}}
      <h5>Comments:</h5>
      <!-- Loop over each comments in a post -->
      {{#each post.comments as |comment| }}
      <div class="row comment">
        <div class="col-md-2">
          <div class="card add-space">
          </div>
        </div>
        <div class="col-md-10">
          <div class="card add-space">
            <div class="card-header back-color">
              <p class="text-right">Commented by {{comment.username}} on {{format_date comment.date_created}}</p>
            </div>
            <div class="card-body">
              <p class="card-text">{{comment.text_area}}</p>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
      {{/if}}
    </div>
  </div>
</div>
<div class="row mt-4">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header back-color">
        <label for="comment">{{username}} : Make Comment</label>
      </div>
      <div class="card-body">
        <label for="comment">Comment:</label>
        <textarea id="comment-text" name="comment" rows="2"></textarea>
      </div>
      <button class="btn btn-primary" id="add-comment" data-id="{{post.id}}"> ADD </button>
    </div>
  </div>
</div>