<h2 class="text-center">Dashboard</h2>
<h3 class="add-space">{{user.username}}'s Post(s):</h3>
{{#if user.posts}}
{{#each user.posts as |post| }}
<div class="row mb-4">
  <div class="col-md-12 post-list">
    <div class="card add-space">
      <div class="card-header back-color">
        <h4><a href="/post/{{post.id}}">{{post.title}}</a></h4>
        <p class="text-right">Posted by {{post.username}} on {{format_date post.date_created}}</p>
      </div>
      <div class="card-body">
        <p class="card-text">{{post.content}}</p>
      </div>
      <button class="btn btn-primary"><a href="/update/{{post.id}}">UPDATE</a></button>
      <button class="btn btn-danger delete-button" data-id="{{post.id}}">DELETE</button>
    </div>
  </div>
</div>
{{/each}}
{{/if}}
<p class="text-center">
  <button class="btn btn-primary"><a href="/create/{{user.id}}"> + New Post </a></button>
</p>